<div class="container">
  <h3>Usuarios
  <table class='table'>
      <tr>
          <th>Nome
          <th>Email
          <th>
          <th>
          <th>
      </tr>
      <% _.each(clients, function(client) { %>
      <tr data-id="<%= client.id %>" data-model="client">
          <td><%= client.name %>
          <td><%= client.email %>
          <td><a href="/client/show/<%= client.id %>" class="btn btn-sm btn-primary">Show</a>
          <td><a href="/client/edit/<%= client.id %>" class="btn btn-sm btn-warning">Edit</a>
        <td><form action="/client/destroy/<%= client.id %>" method="POST"> 
                  <input type="hidden" name="_method" value="delete"/>
                  <input type="submit" class="btn btn-sm btn-danger" value="Delete"/>
                  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
              </form>
          </td>
      </tr>
      <% }) %>
  </table>
  <a href="/client/new">Criar Novo Cliente</a>
</div>